version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: react_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./dist:/usr/share/nginx/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro   # <- mapeamento direto do host
      - /var/lib/letsencrypt:/var/lib/letsencrypt:ro
    depends_on:
      - certbot

  certbot:
    image: certbot/certbot
    container_name: certbot
    restart: unless-stopped
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/lib/letsencrypt:/var/lib/letsencrypt
      - ./dist:/usr/share/nginx/html:ro
    entrypoint: |
      /bin/sh -c "
      trap exit TERM;
      while :; do
        certbot renew --webroot -w /usr/share/nginx/html --quiet;
        sleep 12h & wait \$${!};
      done
      "
